{{#section 'css'}}

<link rel="stylesheet" type="text/css" href="/css/detail.css"> 

{{/section}}
  
{{#section 'js'}}

    <script src="https://cdn.jsdelivr.net/gh/igorlino/elevatezoom-plus@1.2.3/src/jquery.ez-plus.js"></script>
    
    <script>
        $(".btn-down").click(function(){
            var value = parseInt($("#qty").attr('value'));
            var min = parseInt($("#qty").attr('min'));
            if (value > min) {
                value--;
                $("#qty").attr('value', value);
            }
        });

        $(".btn-up").click(function(){
            var value = parseInt($("#qty").attr('value'));
            var max = parseInt($("#qty").attr('max'));
            if (value < max) {
                value++;
                $("#qty").attr('value', value);
            }
        });

        $(document).ready(function(){
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                dots: false,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                slidesToShow: 5,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                dots: false,
                centerMode: false,
                focusOnSelect: true,
                infinite: true,
                arrows: true
            });
            $("#zoom_01").ezPlus({
                cursor:'pointer',
                zoomWindowOffsetX: 10,
                borderColour:'#f6cd61',
                borderSize: 1,
                zoomWindowHeight: 600,
                zoomWindowWidth: 600
            });
        });
        
    </script>
    <script type="text/javascript">
        function kiemTraDanhGia() {
            var thongbao1=document.getElementById("thongbao1");
            var thongbao2=document.getElementById("thongbao2");
            var thongbao3=document.getElementById("thongbao3");
            if (frmDanhGia.ratingPoint.value == "") {
                thongbao1.style.display = "block";
                return false;
            }
            else {
                thongbao1.style.display = "none";
            }
            if (frmDanhGia.ratingTitle.value == "") {
                thongbao2.style.display = "block";
                return false;
            }
            else {
                thongbao2.style.display = "none";
            }
            if (frmDanhGia.ratingComment.value == "") {
                thongbao3.style.display = "block";
                return false;
            }
            else {
                thongbao3.style.display = "none";
            }
            return true;
        }
    </script>
    
{{/section}}



{{!-- <div class="row px-0">
    <div class="col">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/home" class="text-primary">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/product/byCat/{{category.CatID}}">{{category.CatName}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{product.ProName}}</li>
            </ol>
    </div>
</div> --}}


<div class="container">
    <div class="row pt-5">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home" class="text-primary">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="/product/byCat/{{category.CatID}}">{{category.CatName}}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{product.ProName}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row product">
        <div class="col-md-5 col-12 d-flex flex-column justify-content-around" style="z-index: 1;">
            <div class="slider-for mb-2">
                {{#each productThumb}}
                    {{!-- <img src="/{{this}}" class="img-fluid zoom_01" alt="{{product.ProName}}"> --}}
                    {{!-- <a href="#" data-image="/{{this}}" data-zoom-image="/{{this}}">
                        <img src="/{{this}}" class="img-fluid" id="zoom_01" alt="{{product.ProName}}">
                    </a> --}}
                    <img src="/{{this}}" class="img-fluid" id="zoom_01" alt="{{product.ProName}}">
                {{/each}}
            </div>
            
            <div class="thumb-slide-image">
                <div class="slider-nav">
                    {{#each productThumb}}
                        <img src="/{{this}}" alt="{{product.ProName}}" class="mx-1" style="border-radius: 5px;">
                    {{/each}}
                </div>
            </div>
        </div>  
        
        
        <div class="col-md-7 detail col-12 pt-2 pb-2">
            <h3>{{product.ProName}}</h3>
            {{#if rating}}
            <h4 class="d-inline-flex"><span class="badge badge-danger d-inline-flex">{{roundNumber staraverage}}&nbsp;<i class="fa fa-star checked rating"></i></span>&nbsp;<span class="text-primary">({{countstar}} đánh giá)</span></h4>
            {{/if}}
            <p class="brand">
                Thương hiệu: <a href="/product/byBrand/{{brand.BrandID}}">{{brand.BrandName}}</a>
            </p>
            <p class="price">
                <span class="main-price text-danger">
                    {{number_format product.Price}}đ
                </span>
            
            </p>
            {{!-- <p class="view">Số lượt xem: {{product.Viewer}}</p> --}}
            <p class="sold text-danger">Còn lại: {{product.Quantity}} sản phẩm</p>
            <hr>
            <p>{{product.Description}}</p>
            <hr>
            <form class="add-to-cart" id="frmAddItem" method="post" action="/checkout/add">
                    <input name="proID" type="hidden" value="{{product.ProID}}">
                <div class="quantity-col">
                    <p class="quantity-label">
                        Số lượng:
                    </p>
                    <div class="btn-group" role="group">
                        <button class="btn btn-light btn-down" type="button">-</button>
                        <input id="qty" type="tel" name="quantity" value="1" min="1" max="{{product.Quantity}}" class="form-control input-quantity" style="display: block;">
                        <button class="btn btn-light btn-up" type="button">+</button>
                    </div>
                </div>
                <div class="cart-box">
                    <button type="submit" class="btn btn-danger">
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        Thêm vào giỏ hàng</button>
                </div>
            </form>
        </div>

    </div>

    <div class="row product product-bottom">
        <div class="col-12 col-lg-8">
            <h3>THÔNG TIN BỔ SUNG</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td scope="col">Thương hiệu:</td>
                        <td>{{brand.BrandName}}</td>
                    </tr>
                    <tr>
                        <td>Xuất xứ:</td>
                        <td>{{product.Xuatxu}}</td>
                    </tr>
                    <tr>
                        <td>Loại máy:</td>
                        <td>{{product.Loaimay}}</td>
                    </tr>
                    <tr>
                        <td>Loại kính</td>
                        <td>{{product.Loaikinh}}</td>
                    </tr>
                    <tr>
                        <td>Loại vỏ</td>
                        <td>{{product.Loaivo}}</td>
                    </tr>
                    <tr>
                        <td>Loại dây:</td>
                        <td>{{product.Loaiday}}</td>
                    </tr>
                    <tr>
                        <td>Màu sắc:</td>
                        <td>{{product.Color}}</td>
                    </tr>
                    <tr>
                        <td>Thời gian bảo hành:</td>
                        <td>{{product.Baohanh}} tháng</td>
                    </tr>
                </tbody>
            </table>

            
            <div class="rating-comp mb-4">
                <h3>GỬI NHẬN XÉT CỦA BẠN</h3>
                <form id="frmDanhGia" action="/product/addRating" method="POST" role="form">
                    <div class="form-group" id="rating">
                        <label for="">1. ĐÁNH GIÁ CỦA BẠN</label>
                        <div class='rating-stars'>
                            <span class="rating">
                                <input type="radio" class="rating-input"
                                    id="rating-input-1-5" name="ratingPoint" value="5">
                                <label for="rating-input-1-5" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                    id="rating-input-1-4" name="ratingPoint" value="4">
                                <label for="rating-input-1-4" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                    id="rating-input-1-3" name="ratingPoint" value="3">
                                <label for="rating-input-1-3" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                    id="rating-input-1-2" name="ratingPoint" value="2">
                                <label for="rating-input-1-2" class="rating-star"></label>
                                <input type="radio" class="rating-input"
                                    id="rating-input-1-1" name="ratingPoint" value="1">
                                <label for="rating-input-1-1" class="rating-star"></label>
                            </span>
                        </div>
                        <p id="thongbao1" class="text-danger" style="display:none"><small>Vui lòng chọn đánh giá của bạn về sản phẩm này</small></p>
                    </div>
                    <div class="form-group">
                        <label for="">2. TIÊU ĐỀ NHẬN XÉT</label>
                        <input type="text" class="form-control" name="ratingTitle" placeholder="Nhập tiêu đề nhận xét">
                        <p id="thongbao2" class="text-danger" style="display:none"><small>Vui lòng nhập tiêu đề nhận xét</small></p>
                    </div>
                    <div class="form-group">
                        <label for="">3. NHẬN XÉT</label>
                        <textarea type="text" class="form-control" name="ratingComment" placeholder="Nhận xét của bạn về sản phẩm này" style="resize: none; height: 150px;"></textarea>
                        <p id="thongbao3" class="text-danger" style="display:none"><small>Vui lòng nhập nhận xét của bạn</small></p>
                    </div>
                    <input type="hidden" name="ProID" value="{{this.product.ProID}}">
                    <button type="submit" class="btn btn-danger" onclick="return kiemTraDanhGia()">Gửi nhận xét</button>
                </form>
            </div>
            <div class="rating-user">
                <h3>KHÁCH HÀNG NHẬN XÉT</h3>
                <div class="row">
                    {{#if rating}}
                    {{#each rating}}
                    <div class="col-3 col-md-2">
                        <p class="avatar"><img src="/img/user.svg" alt="" width="70px"></p>
                    </div>
                    <div class="col-9 col-md-10">
                        <p>
                            <span class="badge badge-pill badge-danger d-inline-flex">{{point_rating}}&nbsp;<i class="fa fa-star checked rating"></i></span>
                            <span class="strong">{{title_rating}}</span>
                        </p>
                        <p>{{comment}}</p>
                    </div>
                    {{/each}}
                    {{else}}
                    <p>Không có đánh giá</p>
                    {{/if}}
                
                
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="new same-category">
                <h4 class="title">SẢN PHẨM CÙNG LOẠI</h4>
                <div class="content">
                    <div class="container-fluid">
                        {{#each product_same_category}}
                        <div class="row py-2 d-flex align-items-center">
                            <a href="/product/detail/{{ProID}}" class="col-3 col-lg-4"><img src="/{{getImageThumbMain Image}}" alt="" width="100%"></a>
                            <div class="col-9 col-lg-8">
                                <a href="/product/detail/{{ProID}}" class="see-more-title">{{ProName}}</a>
                                <div class="price">
                                    <span class="custom-color main-price">{{number_format Price}}đ</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="new same-brand">
                <h4 class="title">SẢN PHẨM CÙNG THƯƠNG HIỆU</h4>
                <div class="content">
                    <div class="container-fluid">
                        {{#each product_same_brand}}
                        <div class="row py-2 d-flex align-items-center">
                            <a href="/product/detail/{{ProID}}" class="col-3 col-lg-4"><img src="/{{getImageThumbMain Image}}" alt="" width="100%"></a>
                            <div class="col-9 col-lg-8">
                                <a href="/product/detail/{{ProID}}" class="see-more-title">{{ProName}}</a>
                                <div class="price">
                                    <span class="custom-color main-price">{{number_format Price}}đ</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
